In [ ]:
########################################################################

In [35]:
import pandas as pd
import numpy as np
import os
#
inFilePath = '/home/rohit/PyWDUbuntu/DM2DataCuration/'
inDataFile = 'Athlete_Events_ORIGINAL.csv'
#
## -1 means read all rows
#rowsToRead = -1
rowsToRead = 5
#
if rowsToRead == -1:
    dfin = pd.read_csv(inFilePath+inDataFile, sep=',', dtype=str, header=0, keep_default_na=False, low_memory=False )
else:
    dfin = pd.read_csv(inFilePath+inDataFile, sep=',', dtype=str, header=0, nrows=rowsToRead, keep_default_na=False, low_memory=False )
print(f'# Rows read into dataframe = {rowsToRead if rowsToRead != -1 else "all the rows"}')
#
colNamesList = list(dfin)
colDtypesList = [str] * len(colNamesList)
#
colDictType = {}
for colName in colNameList:
    colDictType.update(dict(zip(colNameList, colDtypesList)))
#
colDictType

# Rows read into dataframe = 5

{'ID': str,
 'Name': str,
 'Sex': str,
 'Age': str,
 'Height': str,
 'Weight': str,
 'Team': str,
 'NOC': str,
 'Games': str,
 'Year': str,
 'Season': str,
 'City': str,
 'Sport': str,
 'Event': str,
 'Medal': str}

In [ ]:
########################################################################

In [ ]:
## cleanup of the Age column  --- and further possible processing
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
print(f"\nACTION:\nClean up of Age column.\nReplaced any values which were not numeric with the word DIRTY.")
logging.warning(f"\nACTION:\nClean up of Age column.\nReplaced any values which were not numeric with the word DIRTY.")
#
dfTemp = dfin2clean.copy()
#
#dfTemp.loc[1255:1265]
#
maskValidAge = dfTemp['Age'].str.match(r'^[\d]+$')
maskInvalidAge = ~maskValidAge
dfTemp.loc[maskInvalidAge, 'Age'] = 'DIRTY'
#
#dfTemp.loc[1255:1265]
#
dfin2clean = dfTemp.copy()
del(dfTemp)
#
# replacing the DIRTY with 0 and convert to int -- maybe do this later on
dfTemp = dfin2clean[['Age']]
print(f"dtype = {dfTemp['Age'].dtype}")
dfTemp.loc[ dfTemp['Age']=='DIRTY' , 'Age'] = 0
dfTemp = dfTemp[['Age']].astype('int')
print(f"dtype = {dfTemp['Age'].dtype}")
#
dfin2clean['Age'].unique()
dfTemp['Age'].unique()
dfTemp['Age'].max()
dfTemp['Age'].min()
dfin2clean['Age'].min()

In [1]:
#################################################
#################################################
## load the data as it is and capture basic stats
#################################################
#################################################

In [2]:
import pandas as pd
import numpy as np
import os
import logging
#
pd.set_option('max_columns', 500)
pd.set_option('max_colwidth', -1)
pd.set_option('max_rows', 500)
#
import logging
## https://www.patricksoftwareblog.com/python-logging-tutorial/
logging.basicConfig(level=logging.WARNING, filename='LOG_curationVer6.log',         \
    filemode='w', format='')
#    filemode='w', format='%(asctime)s %(levelname)s:%(message)s')
#
logging.warning(f"\n    *************************************************************** \n    *************************************************************** \n    *************************************************************** ")
logging.warning(f"\n    *************************************************************** \n    *************************************************************** \n    *************************************************************** ")
logging.warning(f"\n    *************************************************************** \n    *************************************************************** \n    *************************************************************** ")
logging.warning(f" Data Curation and Modelling Processing.")
logging.warning(f"\n    *************************************************************** \n    *************************************************************** \n    *************************************************************** ")
logging.warning(f"\n    *************************************************************** \n    *************************************************************** \n    *************************************************************** ")
logging.warning(f"\n    *************************************************************** \n    *************************************************************** \n    ***************************************************************  \n\n")

In [3]:
inFilePath = '/home/rohit/PyWDUbuntu/DM2DataCuration/'
inDataFile = 'Athlete_Events_ORIGINAL.csv'
#
## -1 means read all rows
rowsToRead = -1
#rowsToRead = 5
## load all columns into dataframe as string (object) by specifying the
##      dtype=str during loading, all the columns dtpye is object
#
if rowsToRead == -1:
    dfin = pd.read_csv(inFilePath+inDataFile, sep=',', dtype=str, header=0, \
                       keep_default_na=False, low_memory=False )
else:
    dfin = pd.read_csv(inFilePath+inDataFile, sep=',', dtype=str, header=0, \
                       nrows=rowsToRead, keep_default_na=False, low_memory=False )
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
print(f'# Rows read into dataframe = {rowsToRead if rowsToRead != -1 else "all the rows"}')
logging.warning(f'# Rows read into dataframe = {rowsToRead if rowsToRead != -1 else "all the rows"}')
#
print(f'NOTE: All columns are read in with dtype as str, i.e. all columns are of object type')
logging.warning(f'NOTE: All columns are read in with dtype as str, i.e. all columns are of object type')
print(f'NOTE: keep_default_na=False is used, so all data is loaded as it is without automatic replacement with null or Nan')
logging.warning(f'NOTE: keep_default_na=False is used, so all data is loaded as it is without automatic replacement with null or Nan')
#
#
#
print(f"shape = {dfin.shape}")
#
print(f"Data loaded from this file = {inFilePath+inDataFile}\n")
logging.warning(f"Data loaded from this file = {inFilePath+inDataFile}\n")
#
print(f"Data Rows = {dfin.shape[0]}\tData Columns = {dfin.shape[1]}\n")
logging.warning(f"Data Rows = {dfin.shape[0]}\tData Columns = {dfin.shape[1]}\n")
#
print(f"Columns names are:\n{[colName for colName in list(dfin)]}")
logging.warning(f"Columns names are:\n{[colName for colName in list(dfin)]}")
logging.warning(f"\n")
#
#
#
## capture columnwise information into logfile
colNameList = list(dfin)
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
print(f"\n\nSummary statistics for each column........\n")
logging.warning(f"\n\nSummary statistics for each column........\n")
for colIdx, colName in enumerate(colNameList):
    #print(f"{i}")
    print(f"**** For column #{colIdx+1}\tcolumn name = {colName}:\n")
    print(f"unique values = {dfin[colNameList[colIdx]].nunique()}")
    print(f"count empty strings = {(dfin[colNameList[colIdx]] == '').sum()}")
    print(f"count null values (this should be zero as keep_default_na=False is used) = {dfin[colNameList[colIdx]].isnull().sum(axis = 0)}")
    print(f"count cells with value NA or na = {(dfin[colNameList[colIdx]].str.lower() == r'na').sum()}")
    print(f"count cells with value N/A or n/a = {(dfin[colNameList[colIdx]].str.lower() == r'n/a').sum()}")
    print(f"{dfin[colNameList[colIdx]].describe()}")
    print(f"\n")
    #
    logging.warning(f"**** For column #{colIdx+1}\tcolumn name = {colName}:\n")
    logging.warning(f"unique values = {dfin[colNameList[colIdx]].nunique()}")
    logging.warning(f"count empty strings = {(dfin[colNameList[colIdx]] == '').sum()}")
    logging.warning(f"count null values (this should be zero as keep_default_na=False is used) = {dfin[colNameList[colIdx]].isnull().sum(axis = 0)}")
    logging.warning(f"count cells with value NA or na = {(dfin[colNameList[colIdx]].str.lower() == r'na').sum()}")
    logging.warning(f"count cells with value N/A or n/a = {(dfin[colNameList[colIdx]].str.lower() == r'n/a').sum()}")
    logging.warning(f"{dfin[colNameList[colIdx]].describe()}")
    logging.warning(f"\n")
#
del colNameList, colIdx, colName

# Rows read into dataframe = all the rows
NOTE: All columns are read in with dtype as str, i.e. all columns are of object type
NOTE: keep_default_na=False is used, so all data is loaded as it is without automatic replacement with null or Nan
shape = (271145, 15)
Data loaded from this file = /home/rohit/PyWDUbuntu/DM2DataCuration/Athlete_Events_ORIGINAL.csv

Data Rows = 271145	Data Columns = 15

Columns names are:
['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal']


Summary statistics for each column........

**** For column #1	column name = ID:

unique values = 135570
count empty strings = 0
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    135570
top       77710
freq      58
Name: ID, dtype: object


**** For column #2	column name = Name:

unique values = 134684
count empty strings = 2
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    134684
top       Robert Tait McKenzie
freq      58
Name: Name, dtype: object


**** For column #3	column name = Sex:

unique values = 7
count empty strings = 2711
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    7
top       M
freq      187110
Name: Sex, dtype: object


**** For column #4	column name = Age:

unique values = 96
count empty strings = 2706
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 9440
count cells with value N/A or n/a = 0
count     271145
unique    96
top       23
freq      21677
Name: Age, dtype: object


**** For column #5	column name = Height:

unique values = 139
count empty strings = 2706
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 59386
count cells with value N/A or n/a = 0
count     271145
unique    139
top       NA
freq      59386
Name: Height, dtype: object


**** For column #6	column name = Weight:

unique values = 220
count empty strings = 2706
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 61999
count cells with value N/A or n/a = 0
count     271145
unique    220
top       NA
freq      61999
Name: Weight, dtype: object


**** For column #7	column name = Team:

unique values = 1178
count empty strings = 2709
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    1178
top       United States
freq      16615
Name: Team, dtype: object


**** For column #8	column name = NOC:

unique values = 231
count empty strings = 2842
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    231
top       USA
freq      17456
Name: NOC, dtype: object


**** For column #9	column name = Games:

unique values = 52
count empty strings = 2837
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    52
top       2000 Summer
freq      13751
Name: Games, dtype: object


**** For column #10	column name = Year:

unique values = 36
count empty strings = 2839
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    36
top       1992
freq      16261
Name: Year, dtype: object


**** For column #11	column name = Season:

unique values = 3
count empty strings = 2838
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    3
top       Summer
freq      219969
Name: Season, dtype: object


**** For column #12	column name = City:

unique values = 43
count empty strings = 2837
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    43
top       London
freq      22231
Name: City, dtype: object


**** For column #13	column name = Sport:

unique values = 67
count empty strings = 2840
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    67
top       Athletics
freq      38105
Name: Sport, dtype: object


**** For column #14	column name = Event:

unique values = 599
count empty strings = 2837
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 0
count cells with value N/A or n/a = 0
count     271145
unique    599
top       Football Men's Football
freq      5719
Name: Event, dtype: object


**** For column #15	column name = Medal:

unique values = 8
count empty strings = 67320
count null values (this should be zero as keep_default_na=False is used) = 0
count cells with value NA or na = 173902
count cells with value N/A or n/a = 0
count     271145
unique    8
top       NA
freq      173902
Name: Medal, dtype: object

In [4]:
#################################################
#################################################
## cleaning starts
#################################################
#################################################

In [5]:
dfin2clean = dfin.copy()
del(dfin)
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
print(f'# Rows read into dataframe = {rowsToRead if rowsToRead != -1 else "all the rows"}')
logging.warning(f'# Rows read into dataframe = {rowsToRead if rowsToRead != -1 else "all the rows"}')
#
print(f"\nAll rows read into dataframe as str (object) dtype.")
logging.warning(f"\nAll rows read into dataframe as str (object) dtype.")
#
print(f"\nNumber of rows at this time = {len(dfin2clean)}")
logging.warning(f"\nNumber of rows at this time = {len(dfin2clean)}")
#
#
#
## add Serial Number at the first position  -- called it MySN       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
# 
dfin2clean.insert(0, "MySN", range(1, len(dfin2clean)+1), True) # True means allow duplicates
dfin2clean['MySN'] = dfin2clean['MySN'].astype('str')
dfin2clean.dtypes
#
print(f"\nACTION:\nAdded new column for serial number as MySN with values from 1 to number of data rows.\
\nConverted MySN column to str as well.")
logging.warning(f"\nACTION:\nAdded new column for serial number as MySN with values from 1 to number of data rows.\
\nConverted MySN column to str as well.")
#
#
#
## strip all columns (trim of openrefine)       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#             
dfin2clean = dfin2clean.applymap(lambda x: x.strip() if isinstance(x, str) else x)
#
print(f"\nACTION:\nStrip function applied to all cells.")
logging.warning(f"\nACTION:\nStrip function applied to all cells.")
#
#
#
## convert all the data to lowercase       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
dfin2clean = dfin2clean.applymap(lambda x: x.lower() if isinstance(x, str) else x)
#
print(f"\nACTION:\nLowercase function applied all cells.")
logging.warning(f"\nACTION:\nLowercase function applied all cells.")
#
#
#
## replace any blank cells with the word MISSING       ################
## replace any cells with value na or n/a with the word MISSING
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
dfin2clean = dfin2clean.applymap(lambda x: 'MISSING' if x=='' else x)
dfin2clean = dfin2clean.applymap(lambda x: 'MISSING' if x=='na' else x)
dfin2clean = dfin2clean.applymap(lambda x: 'MISSING' if x==r'n/a' else x)
#
print(f"\nACTION:\nAny blank cells replaced with word MISSING.\nAny cells with value as na replaced with word MISSING.")
logging.warning(f"\nACTION:\nAny blank cells replaced with word MISSING.\nAny cells with value as na replaced with word MISSING.")
#
#
#
## delete row duplicates: Excluding MySN, the entire row is checked as a duplicate       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
dfTemp = dfin2clean.copy()
#
# create list of all columns except for MySN
subsetCols = [col for col in list(dfTemp) if col not in ['MySN']]
dfTemp.drop_duplicates(subset= subsetCols, keep='first', inplace=True)
#
print(f"\nACTION:\nDropped duplicates, considering all coumns except MySN.")
(f"\nACTION:\nDropped duplicates, considering all coumns except MySN.")
#
print(f"\nNo. of rows deleted as duplicates = {dfin2clean.shape[0] -  dfTemp.shape[0]}\n")
logging.warning(f"\nNo. of rows deleted as duplicates = {dfin2clean.shape[0] -  dfTemp.shape[0]}\n")
#
print(f"\nNumber of rows at this time = {len(dfTemp)}")
logging.warning(f"\nNumber of rows at this time = {len(dfTemp)}")
#
## store all the MySN values for the deleted rows into the log file
#
setOrigSN = dfin2clean['MySN'].astype('int').copy()
setOrigSN = set(setOrigSN.unique())
setNoDuplicatesSN = dfTemp['MySN'].astype('int').copy()
setNoDuplicatesSN = set(setNoDuplicatesSN.unique())
#
setDeletedMySNs = setOrigSN - setNoDuplicatesSN
#
setDeletedMySNs_asList = list(setDeletedMySNs)
setDeletedMySNs_asList.sort()
logging.warning(f"\n******* The rows with following MySN values were deleted as duplicates. *******\n")
for val in setDeletedMySNs_asList:
    logging.warning(f"{val}")
logging.warning(f"\n******* End of deleted as duplicates information. *******\n")
#
dfin2clean = dfTemp.copy()
#
del dfTemp, subsetCols, setOrigSN, setNoDuplicatesSN, setDeletedMySNs_asList
#
#
#
## delete all rows which have MISSING values for all the columns except, MySN, ID, Name       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
dfTemp = dfin2clean.copy()
#
dfTemp = dfTemp[(dfTemp['Sex']    != 'MISSING') | (dfTemp['Age']    != 'MISSING') | \
                (dfTemp['Height'] != 'MISSING') | (dfTemp['Weight'] != 'MISSING') | \
                (dfTemp['Team']   != 'MISSING') | (dfTemp['NOC']    != 'MISSING') | \
                (dfTemp['Games']  != 'MISSING') | (dfTemp['Year']   != 'MISSING') | \
                (dfTemp['Season'] != 'MISSING') | (dfTemp['City']   != 'MISSING') | \
                (dfTemp['Sport']  != 'MISSING') | (dfTemp['Event']  != 'MISSING') | \
                (dfTemp['Medal']  != 'MISSING') ]
#
print(f"\nACTION:\nConsidering all coumns except MySN, ID and Name, remove rows with all remaining columns = MISSING.")
logging.warning(f"\nACTION:\nConsidering all coumns except MySN, ID and Name, remove rows with all remaining columns = MISSING.")
#
print(f"\nNo. of rows deleted = {dfin2clean.shape[0] -  dfTemp.shape[0]}")
logging.warning(f"\nNo. of rows deleted = {dfin2clean.shape[0] -  dfTemp.shape[0]}")
#
#
print(f"\nNumber of rows at this time = {len(dfTemp)}")
logging.warning(f"\nNumber of rows at this time = {len(dfTemp)}")
#
## store all the MySN values for the deleted rows into the log file
#
setOrigSN = dfin2clean['MySN'].astype('int').copy()
setNoDuplicatesSN = dfTemp['MySN'].astype('int').copy()
#
setOrigSN = set(setOrigSN.unique())
setNoDuplicatesSN = set(setNoDuplicatesSN.unique())
#
setDeletedMySNs = setOrigSN - setNoDuplicatesSN
#
setDeletedMySNs_asList = list(setDeletedMySNs)
setDeletedMySNs_asList.sort()
logging.warning(f"\n******* The rows with following MySN values were deleted. *******\n")
for val in setDeletedMySNs_asList:
    logging.warning(f"{val}")
logging.warning(f"\n******* End of deleted as duplicates information. *******\n")
#
dfin2clean = dfTemp.copy()
#
del dfTemp, setOrigSN, setNoDuplicatesSN, setDeletedMySNs_asList
#
#
#
## delete all rows which have MISSING values for all these columns:       ################
##        NOC, Games, Year, Season, City, Sport, Event, Medal
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
print(f"\nACTION:\nFor these columns: NOC, Games, Year, Season, City, Sport, Event, Medal....")
print(f"Removing rows where ALL these values are = MISSING.")
logging.warning(f"\nACTION:\nFor these columns: NOC, Games, Year, Season, City, Sport, Event, Medal....")
logging.warning(f"Removing rows where ALL these values are = MISSING.")
#
dfTemp = dfin2clean.copy()
#
dfTempDeletedRows = dfTemp[(dfTemp['NOC']    == 'MISSING')                        & \
                (dfTemp['Games']  == 'MISSING') & (dfTemp['Year']   == 'MISSING') & \
                (dfTemp['Season'] == 'MISSING') & (dfTemp['City']   == 'MISSING') & \
                (dfTemp['Sport']  == 'MISSING') & (dfTemp['Event']  == 'MISSING') & \
                (dfTemp['Medal']  == 'MISSING') ]
#
dfTemp = dfin2clean.copy()
#
dfTemp =            dfTemp[(dfTemp['NOC']    != 'MISSING')                        | \
                (dfTemp['Games']  != 'MISSING') | (dfTemp['Year']   != 'MISSING') | \
                (dfTemp['Season'] != 'MISSING') | (dfTemp['City']   != 'MISSING') | \
                (dfTemp['Sport']  != 'MISSING') | (dfTemp['Event']  != 'MISSING') | \
                (dfTemp['Medal']  != 'MISSING') ]
#
print(f"\nNo. of rows deleted = {len(dfTempDeletedRows)}")
logging.warning(f"\nNo. of rows deleted = {len(dfTempDeletedRows)}")
#
#
print(f"\nNumber of rows at this time = {len(dfTemp)}")
logging.warning(f"\nNumber of rows at this time = {len(dfTemp)}")
#
## store all the MySN values for the deleted rows into the log file
#
setDeletedMySNs = dfTempDeletedRows['MySN'].astype('int').copy()
setDeletedMySNs = set(setDeletedMySNs.unique())
setDeletedMySNs_asList = list(setDeletedMySNs)
setDeletedMySNs_asList.sort()
#
logging.warning(f"\n******* The rows with following MySN values were deleted. *******\n")
for val in setDeletedMySNs_asList:
    logging.warning(f"{val}")
logging.warning(f"\n******* End of deleted rows information. *******\n")
#
dfin2clean = dfTemp.copy()
#
del dfTemp, dfTempDeletedRows, setDeletedMySNs_asList
#
#
#
## cleanup of the Name column       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
dfTemp = dfin2clean.copy()
#
dfTemp['Name'] = dfTemp['Name'].replace('MISSING', np.nan)
dfTemp.dropna(subset=['Name'], inplace=True)
dfName = dfTemp.groupby(['ID'])['Name'].value_counts(dropna=False).to_frame()
del dfTemp
dfName.columns = ['countNames']
dfName = dfName.reset_index(level=['Name','ID'])
dfName['IDNumeric'] = pd.to_numeric(dfName['ID'], errors='coerce', downcast='integer')
dfName.sort_values(by=['IDNumeric', 'countNames'], ascending=True, inplace=True, na_position='first')
dfName = dfName.drop(columns=['IDNumeric'])
dfName.drop_duplicates(subset= ['ID'], keep='last', inplace=True)
dfTemp = dfin2clean.copy()
dfTemp['Name'] = dfTemp['ID'].map(dfName.set_index('ID')['Name'])
#
dfin2clean = dfTemp.copy()
del dfTemp, dfName
#
print(f"\nACTION:\nClean up of Name column.\nFor each ID, found Name corresponding to maximum count. Then for each ID, replaced all the Name with that maximum count Name.")
logging.warning(f"\nACTION:\nClean up of Name column.\nFor each ID, found Name corresponding to maximum count. Then for each ID, replaced all the Name with that maximum count Name.")
#
#
#
## cleanup of the Sex column       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
print(f"\nACTION:\nClean up of Sex column.")
logging.warning(f"\nACTION:\nClean up of Sex column.")
#
dfTemp = dfin2clean.copy()
print(f"\nUnique values before cleanup=\n{list(dfTemp['Sex'].unique())}")
logging.warning(f"\nUnique values before cleanup=\n{list(dfTemp['Sex'].unique())}")
#
dfTemp.loc[dfTemp['Sex'] == 'male', 'Sex'] = 'm'
dfTemp.loc[dfTemp['Sex'] == 'female', 'Sex'] = 'f'
#
print(f"\nUnique values after cleanup=\n{list(dfTemp['Sex'].unique())}")
logging.warning(f"\nUnique values after cleanup=\n{list(dfTemp['Sex'].unique())}")
#
dfin2clean = dfTemp.copy()
del dfTemp
#
## additional clean up to fill missing values using cross referencing
#
dfTemp = dfin2clean.copy()
#
print(f"\nAdditional clean up -- using cross referencing to fill missing values.")
logging.warning(f"\nAdditional clean up -- using cross referencing to fill missing values.")
#
print(f"\nMissing values count before cleanup=\n{dfTemp['Sex'][dfTemp['Sex'] == 'MISSING'].count()}")
logging.warning(f"\nMissing values count before cleanup=\n{dfTemp['Sex'][dfTemp['Sex'] == 'MISSING'].count()}")
#
dfTemp['Sex'] = dfTemp['Sex'].replace('MISSING', np.nan)
dfTemp.dropna(subset=['Sex'], inplace=True)
dfSex = dfTemp.groupby(['ID'])['Sex'].value_counts(dropna=False).to_frame()
del dfTemp
dfSex.columns = ['countSex']
dfSex = dfSex.reset_index(level=['Sex','ID'])
dfSex['IDNumeric'] = pd.to_numeric(dfSex['ID'], errors='coerce', downcast='integer')
dfSex.sort_values(by=['IDNumeric', 'countSex'], ascending=True, inplace=True, na_position='first')
dfSex = dfSex.drop(columns=['IDNumeric'])
dfSex.drop_duplicates(subset= ['ID'], keep='last', inplace=True)
dfTemp = dfin2clean.copy()
dfTemp['Sex'] = dfTemp['ID'].map(dfSex.set_index('ID')['Sex'])
dfTemp['Sex'] = dfTemp['Sex'].replace(np.nan, 'MISSING')
#
print(f"\nMissing values count after cleanup=\n{dfTemp['Sex'][dfTemp['Sex'] == 'MISSING'].count()}")
logging.warning(f"\nMissing values count after cleanup=\n{dfTemp['Sex'][dfTemp['Sex'] == 'MISSING'].count()}")
#
dfin2clean = dfTemp.copy()
del dfTemp, dfSex
#
#
#
## cleanup of the Age column       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
print(f"\nACTION:\nClean up of Age column.\nReplaced any values which were not numeric with the word DIRTY.")
logging.warning(f"\nACTION:\nClean up of Age column.\nReplaced any values which were not numeric with the word DIRTY.")
#
dfTemp = dfin2clean.copy()
#
#dfTemp.loc[1255:1265]
#
maskValidAge = dfTemp['Age'].str.match(r'^[\d]+$')
maskInvalidAge = ~maskValidAge
del(maskValidAge)
dfTemp.loc[maskInvalidAge, 'Age'] = 'DIRTY'
del(maskInvalidAge)
#
#dfTemp.loc[1255:1265]
#
dfin2clean = dfTemp.copy()
del dfTemp
#
#
#
## cleanup of the Height column       ################
#
# one of the rows had a value of 1982.5 which is an error. Treating this as DIRTY data.
# flooring all values by dropping anything after decimal.
#
upperLimitHeight = 250
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
dfTemp = dfin2clean.copy()
#
## floor the values -- drop anything after the decimal
#
## temp code START - to check which rows already had fractional heights - using a mask to locate these rows first
#maskFractionHeight = dfTemp['Height'].str.match(r'^[\d]+\.')
#dfTemp[maskFractionHeight].head()
## temp code END - to check which rows already had fractional heights - using a mask to locate these rows first
#
dfTemp['Height'] = dfTemp['Height'].replace({r'^([\d]+)\..*' : r'\1'}, regex=True)
#
#dfTemp.loc[222779]  ## 222779 row has 1982.5 value -- which is now floored to 1982
#
## treating 250 as uppper limit for a valid Height value -- converting anything above that to DIRTY
#
dfTemp['HeightAsInt'] = pd.to_numeric(dfTemp['Height'], errors='coerce', downcast='integer')
dfTemp.loc[dfTemp['HeightAsInt'] > upperLimitHeight, 'Height'] = 'DIRTY'
#
dfTemp = dfTemp.drop(columns=['HeightAsInt'])
#
dfin2clean = dfTemp.copy()
#
print(f"\nACTION:\nClean up of Height column.\nFloored decimal values to integer values.\nReplaced values above {upperLimitHeight} with the word DIRTY.")
logging.warning(f"\nACTION:\nClean up of Height column.\nFloored decimal values to integer values.\nReplaced values above {upperLimitHeight} with the word DIRTY.")
#
del dfTemp, upperLimitHeight
#
#
#
## cleanup of the Weight column       ################
#
# six of the rows had invalid values and they were replaced by assumed valid values:
#   MySN number            old value                     new value
#   40990-92               7.466.666.667                 74.66
#   246671-73              7.733.333.333                 77.33
# flooring all values by dropping anything after decimal.
#
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
dfTemp = dfin2clean.copy()
#
## replace the invalid values with valid values
#
## temp code START - find rows with invalid Weight values
## below returned 6 values: MySN = 40990-92, 246671-73
#dfTemp[dfTemp['Weight'].isin(['7.466.666.667', '7.733.333.333'])]
#dfTemp[dfTemp['MySN'].isin(['40990', '40991', '40992', '246671', '246672', '246673'])]
## temp code END   - find rows with invalid Weight values
#
dfTemp.loc[dfTemp['Weight'] == '7.466.666.667', 'Weight'] = '74.66'
dfTemp.loc[dfTemp['Weight'] == '7.733.333.333', 'Weight'] = '77.33'
#
## floor the values -- drop anything after the decimal
#
dfTemp['Weight'] = dfTemp['Weight'].replace({r'^([\d]+)\..*' : r'\1'}, regex=True)
#
dfin2clean = dfTemp.copy()
del dfTemp
#
print(f"\nACTION:\nClean up of Weight column.\nReplaced six invalid values with valid values: MySN of 40990-92, 246671-73.\nFloored decimal values to integer values.")
logging.warning(f"\nACTION:\nClean up of Weight column.\nReplaced six invalid values with valid values: MySN of 40990-92, 246671-73.\nFloored decimal values to integer values.")
#
#
#
## cleanup of the Team column       ################
#
## clean up to fill missing values using cross referencing
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
print(f"\nACTION:\nClean up of Team column.")
logging.warning(f"\nACTION:\nClean up of Team column.")
#
dfTemp = dfin2clean.copy()
#
print(f"\nUsing cross referencing to fill missing values.")
logging.warning(f"\nUsing cross referencing to fill missing values.")
#
print(f"\nMissing values count before cleanup=\n{dfTemp['Team'][dfTemp['Team'] == 'MISSING'].count()}")
logging.warning(f"\nMissing values count before cleanup=\n{dfTemp['Team'][dfTemp['Team'] == 'MISSING'].count()}")
#
dfTemp['Team'] = dfTemp['Team'].replace('MISSING', np.nan)
dfTemp.dropna(subset=['Team'], inplace=True)
dfTeam = dfTemp.groupby(['ID'])['Team'].value_counts(dropna=False).to_frame()
del dfTemp
dfTeam.columns = ['countTeam']
dfTeam = dfTeam.reset_index(level=['Team','ID'])
dfTeam['IDNumeric'] = pd.to_numeric(dfTeam['ID'], errors='coerce', downcast='integer')
dfTeam.sort_values(by=['IDNumeric', 'countTeam'], ascending=True, inplace=True, na_position='first')
dfTeam = dfTeam.drop(columns=['IDNumeric'])
dfTeam.drop_duplicates(subset= ['ID'], keep='last', inplace=True)
dfTemp = dfin2clean.copy()
dfTemp['Team'] = dfTemp['ID'].map(dfTeam.set_index('ID')['Team'])
dfTemp['Team'] = dfTemp['Team'].replace(np.nan, 'MISSING')
#
print(f"\nMissing values count after cleanup=\n{dfTemp['Team'][dfTemp['Team'] == 'MISSING'].count()}")
logging.warning(f"\nMissing values count after cleanup=\n{dfTemp['Team'][dfTemp['Team'] == 'MISSING'].count()}")
#
dfin2clean = dfTemp.copy()
del dfTemp, dfTeam
#
#
#
## cleanup of the NOC column       ################
#
#
#
## cleanup of the Games column       ################
#
#
#
## cleanup of the Year column       ################
#
#
#
## cleanup of the Season column       ################
#
#
#
## cleanup of the Sport column       ################
#
#
#
## cleanup of the Event column       ################
#
#
#
## cleanup of the Meadal column       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
dfTemp = dfin2clean.copy()
#
print(f"\nACTION:\nClean up of Medal column.")
logging.warning(f"\nACTION:\nClean up of Medal column.")
#
print(f"\nUnique values before cleanup=\n{list(dfTemp['Medal'].unique())}")
logging.warning(f"\nUnique values before cleanup=\n{list(dfTemp['Medal'].unique())}")
#
dfTemp.loc[dfTemp['Medal'] == '1st', 'Medal'] = 'gold'
dfTemp.loc[dfTemp['Medal'] == '2nd', 'Medal'] = 'silver'
dfTemp.loc[dfTemp['Medal'] == '3rd', 'Medal'] = 'bronze'
#
print(f"\nUnique values after cleanup=\n{list(dfTemp['Medal'].unique())}")
logging.warning(f"\nUnique values after cleanup=\n{list(dfTemp['Medal'].unique())}")
#
dfin2clean = dfTemp.copy()
del dfTemp
#

# Rows read into dataframe = all the rows

All rows read into dataframe as str (object) dtype.

Number of rows at this time = 271145

ACTION:
Added new column for serial number as MySN with values from 1 to number of data rows.
Converted MySN column to str as well.

ACTION:
Strip function applied to all cells.

ACTION:
Lowercase function applied all cells.

ACTION:
Any blank cells replaced with word MISSING.
Any cells with value as na replaced with word MISSING.

ACTION:
Dropped duplicates, considering all coumns except MySN.

No. of rows deleted as duplicates = 13980


Number of rows at this time = 257165

ACTION:
Considering all coumns except MySN, ID and Name, remove rows with all remaining columns = MISSING.

No. of rows deleted = 1255

Number of rows at this time = 255910

ACTION:
For these columns: NOC, Games, Year, Season, City, Sport, Event, Medal....
Removing rows where ALL these values are = MISSING.

No. of rows deleted = 128

Number of rows at this time = 255782

ACTION:
Clean up of Name column.
For each ID, found Name corresponding to maximum count. Then for each ID, replaced all the Name with that maximum count Name.

ACTION:
Clean up of Sex column.

Unique values before cleanup=
['m', 'male', 'f', 'MISSING', 'female']

Unique values after cleanup=
['m', 'f', 'MISSING']

Additional clean up -- using cross referencing to fill missing values.

Missing values count before cleanup=
5

Missing values count after cleanup=
0

ACTION:
Clean up of Age column.
Replaced any values which were not numeric with the word DIRTY.

ACTION:
Clean up of Height column.
Floored decimal values to integer values.
Replaced values above 250 with the word DIRTY.

ACTION:
Clean up of Weight column.
Replaced six invalid values with valid values: MySN of 40990-92, 246671-73.
Floored decimal values to integer values.

ACTION:
Clean up of Team column.

Using cross referencing to fill missing values.

Missing values count before cleanup=
3

Missing values count after cleanup=
0

ACTION:
Clean up of Medal column.

Unique values before cleanup=
['MISSING', 'gold', 'bronze', 'silver', '3rd', '2nd', '1st']

Unique values after cleanup=
['MISSING', 'gold', 'bronze', 'silver']

In [6]:
dfin2clean.shape

(255782, 16)

In [7]:
## NOC

In [9]:
dfTemp = dfin2clean.copy()

In [10]:
len(dfTemp)

255782

In [11]:
dfTemp1 = dfTemp[(dfTemp['Team']   == 'MISSING') & (dfTemp['NOC']    == 'MISSING') & \
                (dfTemp['Games']  == 'MISSING') & (dfTemp['Year']   == 'MISSING') & \
                (dfTemp['Season'] == 'MISSING') & (dfTemp['City']   == 'MISSING') & \
                (dfTemp['Sport']  == 'MISSING') & (dfTemp['Event']  == 'MISSING') & \
                (dfTemp['Medal']  == 'MISSING') ]
#
dfTemp2 = dfTemp[(dfTemp['NOC']    == 'MISSING') & \
                (dfTemp['Games']  == 'MISSING') & (dfTemp['Year']   == 'MISSING') & \
                (dfTemp['Season'] == 'MISSING') & (dfTemp['City']   == 'MISSING') & \
                (dfTemp['Sport']  == 'MISSING') & (dfTemp['Event']  == 'MISSING') & \
                (dfTemp['Medal']  == 'MISSING') ]
#
dfTemp3 = dfTemp[(dfTemp['NOC']    != 'MISSING') | \
                (dfTemp['Games']  != 'MISSING') | (dfTemp['Year']   != 'MISSING') | \
                (dfTemp['Season'] != 'MISSING') | (dfTemp['City']   != 'MISSING') | \
                (dfTemp['Sport']  != 'MISSING') | (dfTemp['Event']  != 'MISSING') | \
                (dfTemp['Medal']  != 'MISSING') ]

In [12]:
len(dfTemp1)

0

In [13]:
len(dfTemp2)

0

In [14]:
len(dfTemp3)

255782

In [15]:
dfTemp[dfTemp['ID'].isin(['5','6', '800', '1208', '5497'])]

,MySN,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,5,christine jacoba aaftink,f,21,185,82,netherlands,ned,1988 winter,1988,winter,calgary,speed skating,speed skating women's 500 metres,MISSING
5,6,5,christine jacoba aaftink,f,21,185,82,netherlands,ned,1988 winter,1988,winter,calgary,speed skating,speed skating women's 1,MISSING
6,7,5,christine jacoba aaftink,f,25,185,82,netherlands,MISSING,1992 winter,1992,winter,albertville,speed skating,speed skating women's 500 metres,MISSING
7,8,5,christine jacoba aaftink,f,25,185,82,netherlands,ned,1992 winter,MISSING,winter,albertville,MISSING,speed skating women's 1,MISSING
8,9,5,christine jacoba aaftink,f,27,185,82,netherlands,ned,1994 winter,1994,winter,lillehammer,speed skating,speed skating women's 500 metres,MISSING
9,10,5,christine jacoba aaftink,f,27,185,82,netherlands,MISSING,1994 winter,1994,winter,lillehammer,speed skating,speed skating women's 1,MISSING
10,11,6,per knut aaland,m,31,188,75,united states,MISSING,1992 winter,1992,winter,albertville,cross country skiing,cross country skiing men's 10 kilometres,MISSING
11,12,6,per knut aaland,m,31,188,75,united states,usa,1992 winter,1992,MISSING,albertville,cross country skiing,cross country skiing men's 50 kilometres,MISSING
12,13,6,per knut aaland,m,31,188,75,united states,MISSING,1992 winter,1992,winter,albertville,MISSING,cross country skiing men's 10/15 kilometres pursuit,MISSING
13,14,6,per knut aaland,m,31,188,75,united states,usa,1992 winter,MISSING,winter,albertville,cross country skiing,cross country skiing men's 4 x 10 kilometres relay,MISSING
14,15,6,per knut aaland,m,33,188,75,united states,usa,1994 winter,1994,winter,lillehammer,MISSING,cross country skiing men's 10 kilometres,MISSING
15,16,6,per knut aaland,m,33,188,75,united states,usa,1994 winter,1994,winter,lillehammer,cross country skiing,cross country skiing men's 30 kilometres,MISSING
16,17,6,per knut aaland,m,33,188,75,united states,usa,1994 winter,1994,winter,lillehammer,cross country skiing,cross country skiing men's 10/15 kilometres pursuit,MISSING
17,18,6,per knut aaland,m,33,188,75,united states,usa,1994 winter,1994,winter,lillehammer,cross country skiing,cross country skiing men's 4 x 10 kilometres relay,MISSING
1422,1423,800,georgi mirchev adamov,m,25,173,64,bulgaria,bul,1964 summer,1964,summer,tokyo,gymnastics,gymnastics men's individual all-around,MISSING
1423,1424,800,georgi mirchev adamov,m,25,173,64,bulgaria,bul,1964 summer,1964,summer,tokyo,gymnastics,gymnastics men's team all-around,MISSING
1424,1425,800,georgi mirchev adamov,m,25,173,64,bulgaria,bul,1964 summer,1964,summer,tokyo,gymnastics,gymnastics men's floor exercise,MISSING
1425,1426,800,georgi mirchev adamov,m,25,173,64,bulgaria,bul,1964 summer,1964,summer,tokyo,gymnastics,gymnastics men's horse vault,MISSING
1426,1427,800,georgi mirchev adamov,m,25,173,64,bulgaria,bul,1964 summer,1964,summer,tokyo,gymnastics,gymnastics men's parallel bars,MISSING
1427,1428,800,georgi mirchev adamov,m,25,173,64,bulgaria,bul,1964 summer,1964,summer,tokyo,gymnastics,gymnastics men's horizontal bar,MISSING
1428,1429,800,georgi mirchev adamov,m,25,173,64,bulgaria,bul,1964 summer,1964,summer,tokyo,gymnastics,gymnastics men's rings,MISSING
1429,1430,800,georgi mirchev adamov,m,25,173,64,bulgaria,bul,1964 summer,1964,summer,tokyo,gymnastics,gymnastics men's pommelled horse,MISSING
1430,1431,800,georgi mirchev adamov,m,29,173,64,bulgaria,pan,1968 summer,1968,summer,mexico city,gymnastics,gymnastics men's individual all-around,MISSING
1431,1432,800,georgi mirchev adamov,m,29,173,64,bulgaria,bul,1968 summer,1968,summer,mexico city,gymnastics,gymnastics men's team all-around,MISSING
1432,1433,800,georgi mirchev adamov,m,29,173,64,bulgaria,bul,1968 summer,1968,summer,mexico city,gymnastics,gymnastics men's floor exercise,MISSING
1433,1434,800,georgi mirchev adamov,m,29,173,64,bulgaria,MISSING,1968 summer,1968,summer,mexico city,gymnastics,gymnastics men's horse vault,MISSING
1434,1435,800,georgi mirchev adamov,m,29,173,64,bulgaria,bul,1968 summer,1968,summer,mexico city,gymnastics,gymnastics men's parallel bars,MISSING
1435,1436,800,georgi mirchev adamov,m,29,173,64,bulgaria,bul,1968 summer,1968,summer,mexico city,gymnastics,gymnastics men's horizontal bar,MISSING
1436,1437,800,georgi mirchev adamov,m,29,173,64,bulgaria,pan,1968 summer,1968,summer,mexico city,gymnastics,gymnastics men's rings,MISSING
1437,1438,800,georgi mirchev adamov,m,29,173,64,bulgaria,bul,1968 summer,1968,summer,mexico city,gymnastics,gymnastics men's pommelled horse,MISSING
10059,10060,5497,george aschenbrener,m,DIRTY,MISSING,MISSING,united states,usa,1904 summer,1904,summer,st. louis,gymnastics,gymnastics men's individual all-around,MISSING

In [16]:
dfTemp['NOC'][dfTemp['NOC'] == 'MISSING'].count()

5

In [17]:
outList = []
for value in dfTemp['ID'][dfTemp['NOC'] == 'MISSING'].unique():
    outList.append(int(value))
outList.sort()
print(f"{outList}")
print(f"\n{len(outList)}")

[5, 6, 800]

3

In [19]:
dfTemp = dfin2clean.copy()
#
dfTemp['NOC'][dfTemp['NOC'] == 'MISSING'].count()
#
dfTemp['NOC'] = dfTemp['NOC'].replace('MISSING', np.nan)
dfTemp.dropna(subset=['NOC'], inplace=True)
dfNOC = dfTemp.groupby(['ID'])['NOC'].value_counts(dropna=False).to_frame()
del dfTemp
dfNOC.columns = ['countNOC']
dfNOC = dfNOC.reset_index(level=['NOC','ID'])
dfNOC['IDNumeric'] = pd.to_numeric(dfNOC['ID'], errors='coerce', downcast='integer')
dfNOC.sort_values(by=['IDNumeric', 'countNOC'], ascending=True, inplace=True, na_position='first')
dfNOC = dfNOC.drop(columns=['IDNumeric'])
dfNOC.drop_duplicates(subset= ['ID'], keep='last', inplace=True)
dfTemp = dfin2clean.copy()
dfTemp['NOC'] = dfTemp['ID'].map(dfNOC.set_index('ID')['NOC'])
dfTemp['NOC'] = dfTemp['NOC'].replace(np.nan, 'MISSING')
#
dfTemp['NOC'][dfTemp['NOC'] == 'MISSING'].count()

0

In [20]:
outList = []
for value in dfTemp['ID'][dfTemp['NOC'] == 'MISSING'].unique():
    outList.append(int(value))
outList.sort()
print(f"{outList}")
print(f"\n{len(outList)}")

[]

0

In [12]:
## cleanup of the Team column       ################
#
logging.warning(f"\n\n    *************************** \n    *************************** ")
logging.warning(f"\n    *************************** \n    *************************** \n\n")
#
dfTemp = dfin2clean.copy()
#

In [19]:
list(dfTemp['ID'][dfTemp['Team'] == 'MISSING'].values)

['5', '5', '6']

In [27]:
dfTemp[dfTemp['ID'].isin(list(dfTemp['ID'][dfTemp['Team'] == 'MISSING'].values))]

,MySN,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,5,christine jacoba aaftink,f,21,185,82,MISSING,ned,1988 winter,1988,winter,calgary,speed skating,speed skating women's 500 metres,MISSING
5,6,5,christine jacoba aaftink,f,21,185,82,netherlands,ned,1988 winter,1988,winter,calgary,speed skating,speed skating women's 1,MISSING
6,7,5,christine jacoba aaftink,MISSING,25,185,82,netherlands,MISSING,1992 winter,1992,winter,albertville,speed skating,speed skating women's 500 metres,MISSING
7,8,5,christine jacoba aaftink,f,25,185,82,netherlands,ned,1992 winter,MISSING,winter,albertville,MISSING,speed skating women's 1,MISSING
8,9,5,christine jacoba aaftink,f,27,185,82,MISSING,ned,1994 winter,1994,winter,lillehammer,speed skating,speed skating women's 500 metres,MISSING
9,10,5,christine jacoba aaftink,f,27,185,82,netherlands,MISSING,1994 winter,1994,winter,lillehammer,speed skating,speed skating women's 1,MISSING
10,11,6,per knut aaland,m,31,188,75,united states,MISSING,1992 winter,1992,winter,albertville,cross country skiing,cross country skiing men's 10 kilometres,MISSING
11,12,6,per knut aaland,m,31,188,75,united states,usa,1992 winter,1992,MISSING,albertville,cross country skiing,cross country skiing men's 50 kilometres,MISSING
12,13,6,per knut aaland,m,31,188,75,united states,MISSING,1992 winter,1992,winter,albertville,MISSING,cross country skiing men's 10/15 kilometres pursuit,MISSING
13,14,6,per knut aaland,m,31,188,75,united states,usa,1992 winter,MISSING,winter,albertville,cross country skiing,cross country skiing men's 4 x 10 kilometres relay,MISSING
14,15,6,per knut aaland,m,33,188,75,MISSING,usa,1994 winter,1994,winter,lillehammer,MISSING,cross country skiing men's 10 kilometres,MISSING
15,16,6,per knut aaland,m,33,188,75,united states,usa,1994 winter,1994,winter,lillehammer,cross country skiing,cross country skiing men's 30 kilometres,MISSING
16,17,6,per knut aaland,m,33,188,75,united states,usa,1994 winter,1994,winter,lillehammer,cross country skiing,cross country skiing men's 10/15 kilometres pursuit,MISSING
17,18,6,per knut aaland,m,33,188,75,united states,usa,1994 winter,1994,winter,lillehammer,cross country skiing,cross country skiing men's 4 x 10 kilometres relay,MISSING

In [25]:
dfTemp[['ID', 'Name', 'Team']][dfTemp['ID'].isin(['5', '5', '6'])]

   ID                      Name           Team
4   5  christine jacoba aaftink  MISSING
5   5  christine jacoba aaftink  netherlands
6   5  christine jacoba aaftink  netherlands
7   5  christine jacoba aaftink  netherlands
8   5  christine jacoba aaftink  MISSING
9   5  christine jacoba aaftink  netherlands
10  6  per knut aaland           united states
11  6  per knut aaland           united states
12  6  per knut aaland           united states
13  6  per knut aaland           united states
14  6  per knut aaland           MISSING
15  6  per knut aaland           united states
16  6  per knut aaland           united states
17  6  per knut aaland           united states

In [ ]:
## cleanup of the Team column
#
## cleanup of the NOC column
#
## cleanup of the Games column
#
## cleanup of the Year column
#
## cleanup of the Season column
#
## cleanup of the Sport column
#
## cleanup of the Event column
#
## cleanup of the Medal column
#